<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap3">
  <Identity Name="MichaelS.Scherotter.UrbanSketches" 
            Publisher="CN=9ABF1D81-CCC5-4B47-904F-BFF5B3A88B37" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="493eedf2-c46f-49c3-9aa0-10c83ac28199" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Urban Sketches</DisplayName>
    <PublisherDisplayName>Michael S. Scherotter</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UWP.App">
      <uap:VisualElements DisplayName="ms-resource:AppDisplayName" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="ms-resource:AppDescription" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:TileUpdate Recurrence="daily" UriTemplate="https://urbansketchers.azurewebsites.net/api/GetTiles?lang={language}&amp;region={region}" />
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="UrbanSketches.1" />
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="ms-resource:ShareDescription">
            <uap:SupportedFileTypes>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>Bitmap</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="urbansketchesauth">
            <uap:DisplayName>ms-resource:AuthProtocolDisplayName</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
          <uap3:Extension Category="windows.appExtension">
            <uap3:AppExtension Name="Jouranlist.Export.1" DisplayName="ms-resource:UploadToUrbanSketches" Id="UploadToUrbanSketches" Description="ms-resource:UploadToUrbanSketchesDescription" PublicFolder="Public">
              <uap3:Properties>
                <Service>UrbanSketches.1</Service>
              </uap3:Properties>
            </uap3:AppExtension>
          </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>